body {
  background-image: url("https://images.cdn2.stockunlimited.net/preview1300/flat-lay-of-food-ingredients-and-spices-on-wooden-background_2110508.jpg");
  background-size: cover;
  background-position-x: initial;
  background-attachment: fixed;
  margin: 0;
}  

.red-button {
  background-color: rgb(201,1,7);
  border-radius: 5px;
  box-shadow: -4px 4px black;
}
#nav {
  background-color: rgb(251,202,3);
  border-radius: 5px;
  box-shadow: -4px 4px black;
}

::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 5px;
  border: 1px transparent #555;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.active-row {
  background-color: rgb(236, 236, 236);
}

.table-hover tbody tr.active-row:hover td, .table-hover tbody tr.active-row:hover th {
  background-color: rgb(236,236,236);
}

/* .active-row:hover {
  background-color: rgb(151, 121, 0);
} */

div.col1 {
  max-height: 250px;
}

div.limit {
  height: 178px;
  max-height: 200px;
  overflow: scroll;
}

div.recipe {
  height: 478px;
  max-height: 478px;
  overflow: scroll;
}
div.results {
  height: 542px;
  max-height: 542px;
  overflow: scroll;
}
div.card {
  opacity: 95%;
}